@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}


html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    justify-content: center;
    align-items: center;
}

#clicks{
    margin-right: 3%;
}

div #click1{
    background-color: rgb(0, 0, 0);
    color: #fff;
}

div #click2{
   background-color: rgba(0, 0, 0, 0.315); 
   color: #000;
}

div #click2:hover{
    background-color: rgba(177, 4, 140, 0.397);
    color: black; 
}

#nav-bar{
    color: rgb(0, 0, 0);
}

#nav-bar:hover{
    color: rgb(177, 4, 139);
}

#tainted h1 span{
    color: rgb(177, 4, 139);
}

#top-right-signup{
 color: #fff;
} 



#top-right-signin{
    color: rgb(177, 4, 139);
}

#feature-div{
    margin-top: 13%;
}

#hero-para{
    font-size: 18px;
}

#contents:hover{
    background-color: #00000056;
    color: white;
}


#contents:active{
    background-color: #000000;
    color: white;
}

#content-button{
    background-image: linear-gradient( blue, rgba(177, 4, 139,0.2));
}

#feature-side-container{
    background-color:  white;
}

#feature-container{
    background-image: linear-gradient( rgba(177, 4, 139,0.4), white);
}

#feature-icon-bg{
    background-color: rgb(0, 0, 0);
}

#contact-button{
    background-color:  rgb(177, 4, 139);
}

#footerlist-text{
    color: rgb(177, 4, 139);
}

#footerlist-header{
    color: rgb(131, 4, 103)
}

@media (max-width: 600px) {
    #top-nav {
      display: none;
    }

    #nav-bars{
      display: none;
    }

    #head-img{
      margin-right: 70%;
      width: 30%;
      height: 30%;
      display: flex;
    }

    #head-menu{
    position: absolute;
    top: 7.5%;
    left: 90%;
    transform: translate(-50%, -50%);
    }

    #head-menu:active{
      background-color: #0000006e;
      padding: 3px 3px;
      border-radius: 4px;
      transition: 2s;
      }

}


@media (min-width: 600px) {
  
  #head-menu{
    display: none;
  }

}

#news-head{
    text-align: center;
    margin-bottom: 3%;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #fff;
}

#popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
 
}

.popup{
    display: none;
}

.show-modal{
    display: block;
}

#popup-wrap{
  display: flex;
  flex-direction: column;
  background: #606c88;
  background: linear-gradient(to right, #000f30, #a01199);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  }

#close{
    position: absolute;
    background-color: rgb(0, 0, 0);
    width: 2%;
    top: 0%;
    left: 100%;
    font-size: 10px;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 5px;
    border: 2px solid white;
}
.button-me {
  border-radius: .25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  background-image: linear-gradient(90deg,#1c1c1c,rgb(177, 4, 139));
  border: 0 solid;
  overflow: hidden;
}

.button-me:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}

#description {
  line-height: 1.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  color: rgb(209 213 219);
}

#message{
  width: 100%;
  height: 40px;
}

#sub{
  background-color: rgb(201, 3, 158);
  margin-bottom: 5%;
  padding-left: 7.5%;
  padding-right: 7.5%;
}